---
import { Header, Button, Footer } from '@components/odyssey-theme';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';


export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />

<Layout seo={seo}>
	<Header rightMenu navData={nav} slot="header">
		</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		footerLists={footerLists}
		footerSocials={footerSocials}
		copyrightName={settings.name}
		showPlug={settings.showPlug}
	>
	</Footer>
</Layout>

<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

<style>
  :global(footer) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
</style>

<style is:global>
  body {
    background-color: #000000; /* Sets the background to pure black */
    color: #eeeeee; /* Sets a default light gray text color for readability */
  }
</style>